{{> nav currentRoute="/orders" }}


{{#each data}}

  {{#if (currentRoute === '/orders/{{this.employee_id}}/delete' )}}

    <div class="d-flex justify-content-center flex-column">
      <p class="m-5">Are you sure you want to delete this order?</p>
      <div class="d-flex justify-content-start py-1">
        <div class="col-1 bg-light">{{this.order_id}}</div>
        <div class="col-5 bg-light">{{this.order_created_at}}</div>
        <div class="col-3 bg-light">{{this.total_price}}</div>
        <div class="col-3 bg-light">{{this.employee_id}}</div>
        <div class="col-1">
            <a class="btn btn-sm btn-danger" href="/orders">
                Delete
            </a>
        </div>
        <div>
          <a class="btn btn-sm btn-primary" href="/orders">Cancel</a>
        </div>
      </div>
    </div>

  {{/if}} 

